<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <h1>Node Link Visualizer</h1>
    
    <div id="debug-info">
        <f:debug>{_all}</f:debug>
        <p>Nombre de nœuds : {f:count(subject: nodes)}</p>
        <p>Nombre de liens : {f:count(subject: links)}</p>
    </div>

    <div id="debug-messages"></div>

    <f:if condition="{nodes} && {links}">
        <f:then>
            <div id="node-link-visualizer" 
                 data-nodes="{nodes -> f:format.raw()}" 
                 data-links="{links -> f:format.raw()}"
                 data-display-mode="{displayMode}">
            </div>
            <f:asset.script identifier="d3js" src="https://d3js.org/d3.v7.min.js" />
            <f:asset.script identifier="node-link-visualizer" src="EXT:node_link_visualizer/Resources/Public/JavaScript/node-link-visualizer.js" />
        </f:then>
        <f:else>
            <div class="alert alert-warning">
                <f:translate key="error.noData">No data available for visualization.</f:translate>
            </div>
        </f:else>
    </f:if>
</f:section>
</html>