<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <h1>Node Link Visualizer</h1>
    <p>Debug: {debug}</p>
    <p>Nombre de nœuds : {f:count(subject: nodes)}</p>
    <p>Nombre de liens : {f:count(subject: links)}</p>
    
    <h2>Settings:</h2>
    <f:debug>{settings}</f:debug>
    
    <h2>Nodes:</h2>
    <f:debug>{nodes}</f:debug>
    
    <h2>Links:</h2>
    <f:debug>{links}</f:debug>

    <div id="node-link-visualizer" 
         data-nodes='{f:format.json(value: nodes)}' 
         data-links='{f:format.json(value: links)}' 
         data-display-mode="{displayMode}">
    </div>
</f:section>
</html>